@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p, body {
  font-family: 'Raleway', sans-serif;

}

a { color:black } /* Globally */
a:visited, a:focus, a:active { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:grey; }

.first-flex {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 40vh;
  align-items: center;
  padding: 2%;
  background-image: linear-gradient(to right, white, tan);
  background-size: auto 97%;
  background-repeat: no-repeat;
}

.second-flex {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 40vh;
  align-items: center;
  padding: 2%;

}

.developer-name {

}

.icons {
  display: flex;
  justify-content: flex-start;
}

.icons i {
  padding-right: 10px;
}

.display-image{
  height:40vh;
  width:30vw;
  max-width:400px;
  max-height:400px;
}

.card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .first-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

@media only screen and (max-width: 600px) {
  .second-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .icons {
    justify-content: center;
  }
}
